@model ControleTI.Models.PontoRede

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PontoRede</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Filial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filial.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Setor.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funcao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
