@model ContratoViewModel
@{
    ViewData["Title"] = "Excluir";
}

<h2>@ViewData["Title"]</h2>

<h3>Deseja Exluir?</h3>

<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contrato.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contrato.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contrato.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contrato.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contrato.Inicio)
        </dt>
        <dd>
            @Model.Contrato.Inicio.ToString("dd/MM/yyyy")
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.Contrato.Fim)
        </dt>
        <dd>
            @Model.Contrato.Fim.ToString("dd/MM/yyyy")
        </dd>
         <dt>
            Empresa
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contrato.EmpresaParceira.NomeFantasia)
        </dd>
        <dt>
            Responsável
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contrato.Usuario.NomeUsu)
        </dd>

    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Contrato.Id" />
        <input type="submit" class="btn btn-danger" value="Sim" />
        <a asp-action="index" class="btn btn-success">Não</a>
    </form>
</div>