@model ControleTI.Models.ViewModels.DispositivoSoftwareViewModel
@{
    ViewData["Title"] = "Cadastrar Serial Key"; // String.Concat("Cadastrar Software no Dispositivo: ", Model.Dispositivo.Nome);
}

<h2>@ViewData["Title"]</h2>
<hr />
<dl class="dl-horizontal">
    <dt>
        Dispositivo
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Dispositivo.Nome)
    </dd>

    <dt>
        Software
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Software.Nome)
    </dd>

      <dt>
        Software
    </dt>
    <dd>
        @Html.DisplayFor(model => model.SerialKey.Key)
    </dd>


</dl>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div class="form-group">
                <input type="hidden" asp-for="DispositivoSoftware.Id" />
                <input type="hidden" asp-for="DispositivoSoftware.DispositivoId" value="@Model.Dispositivo.Id" />
                <input type="hidden" asp-for="DispositivoSoftware.SoftwareId" value="@Model.Software.Id" />
                <input type="hidden" asp-for="DispositivoSoftware.SerialKeyId" value="@Model.SerialKey.Id" />
                <label asp-for="SerialKey.Id" class="control-label">Serial Key</label>

                <label asp-for="DispositivoSoftware.IdInstalacao" class="control-label">Id de Instalação</label>
                <input asp-for="DispositivoSoftware.IdInstalacao" class="form-control" />
            </div>
            <input type="submit" class="btn btn-success" asp-action="CadastrarIdInstalacao" />
            <a asp-controller="Dispositivos" asp-action="Detalhes" asp-route-id="@Model.Dispositivo.Id" class="btn btn-danger">Cancelar</a>
        </form>
</div>
</div>

