@model IEnumerable<ControleTI.Models.Setor>
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Adicionar</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)

                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>